*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    border-radius: 0px 0 20px 20px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 20px 0;

}
.header-right{
    display: flex;
}
.menue-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 50px;
}
.menue-item{
    padding: 10px 20px;
    color: #b3b3b3;
    font-size: 19px;
}
.header-left{
    display: flex;
}
.header-left p{
    padding: 5px 20px;
    color: #0693e3;
}
.header-login{
    background: #c9e7f8;;
    border-radius: 30px;
}
.header-left {
    margin-left: 20px;
}
.header-bottom{
    display: flex;
}
.header-botton-right{
    width: 40%;

}
.title{
    margin: 30px 30px 10px;
    color: #0693e3;
}
.desc{
    color:#0693e3;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.info{
    margin-right: 28px;
    color:#999;
    margin-top: 5px;
    font-size: 19px;
    text-align: justify;
    line-height: 27px;
}
.header-botton-left{
    margin-right: 99px;
    padding-right: 30px;
    padding-top: 10px;
}
.host-section{
    background: linear-gradient(to bottom,rgba(214,238,255,0)0,#d6eeff 100%);
}
.host-section-title{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.host-list{
    display: flex;
    padding: 25px 0;
}
.host-item{
    margin: 0 10px;
    padding: 40px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    text-align: justify;
    color: #7e7e7e;
    position: relative;
}
.host-item-title{
    position: absolute;
    width: 150px;
    background: #0693e3;
    color: #ffff;
    top: -15px;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    border-radius: 20px;
    padding: 5px 10px;
}
.feature-section{

}
.feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
}
.feature-right{
    width: 40%;
}
.feature-right-title{
    color: #0693e3;
    margin: 50px 0 10px;
}
.feature-right-desc{
    color: #7e7e7e;
    text-align: justify;
    font-size: 17px;
    line-height: 27px;
}
.feature-left{
    width: 60%;
    padding-top: 60px;
    padding-right: 30px;
}
.server{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 200px;
}
.server-right{
    width: 50%;
}
.server-right-title{
    color: #0693e3;
    margin: 50px 0 10px;
    padding-right: 50px;
}
.server-right-desc{
    color: #7e7e7e;
    text-align: justify;
    font-size: 19px;
    line-height: 27px;
    text-align: justify;
    line-height: 27px;
    padding-right: 50px;
}
.server-left{
    width: 50%;
}
.footer.section{
    display: flex;
    text-align: center;
    padding: 50px 0;
}
.finished{
    text-align: center;
    color: #7e7e7e;
    font-size: 20px;
    padding: 10px;
}